<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Details</ion-card-title>
          </ion-card-header>
        
          <ion-card-content>
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-list>
              <ion-radio-group value="male">
                <ion-item>
                  <ion-label>Male</ion-label>
                  <ion-radio slot="end" value="male"></ion-radio>
                </ion-item>
            
                <ion-item>
                  <ion-label>Female</ion-label>
                  <ion-radio slot="end" value="female"></ion-radio>
                </ion-item>
              </ion-radio-group>
      
              <ion-item>
                <ion-select placeholder="Select dietary preferences">
                  <ion-select-option value="vegetarian">Vegetarian</ion-select-option>
                  <ion-select-option value="vegan">Vegan</ion-select-option>
                  <ion-select-option value="nonveg">Non veg</ion-select-option>
                  <ion-select-option value="pescatarian">Pescatarian</ion-select-option>
                </ion-select>
              </ion-item>
      
              <ion-item>
                <ion-select placeholder="Select the activities you would like to do" [multiple]="true">
                  <ion-select-option value="Running">Running</ion-select-option>
                  <ion-select-option value="Swimming">Swimming</ion-select-option>
                  <ion-select-option value="Cycling">Cycling</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>

            <app-receive-updates (emailAddressUpdated)="onEmailAddressUpdated($event)"></app-receive-updates>
      
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              Activate account
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <app-activate-account [emailAddress]="emailAddress"></app-activate-account>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
