<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      The forecast for {{ forecastToday.date | date }} is {{ getForecastTypeLabel(forecastToday.type) }}.
    </ion-item>
    <ion-item>
      The forecast for {{ forecastTomorrow.date | date }} is {{ getForecastTypeLabel(forecastTomorrow.type) }} {{ displayRainfall(forecastTomorrow) }}
    </ion-item>
    <strong>Ready to create an app?</strong>
    <ion-button [routerLink]="['/profile']">Profile</ion-button>
  </div>
</ion-content>
